<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RJCodeAdvance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Licensing" publicKeyToken="f89b4760ba7dcb6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="QLBH" connectionString="Data Source=vanthanh\vanthanh;Initial Catalog=DuAn1;Integrated Security=True" />
    <add name="RJCodeAdvance.Properties.Settings.DuAn1ConnectionString"
      connectionString="Data Source=vanthanh\vanthanh;Initial Catalog=DuAn1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <RJCodeAdvance.Properties.Settings>
      <setting name="user" serializeAs="String">
        <value>chinhchu@gmail.com</value>
      </setting>
      <setting name="pass" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="rewards" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="voucherType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TurnOnSale" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="voucheTypeName" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoPrint" serializeAs="String">
        <value>False</value>
      </setting>
    </RJCodeAdvance.Properties.Settings>
  </userSettings>
</configuration>